<div class="container">
    <h2>Productos</h2>

    <ul>
        <li *ngFor="let product of products" class="product">
            
            <div class="imagen">
                <img src="../../../assets/img/{{product.image}}"/>
            </div>
            
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>

        </li>
    </ul>

</div>
