@font-face {
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url(fonts/finger.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "yanone";
    font-size: 20px;
    background: url(../img/background.png);
    background-attachment: fixed;
}

header {
    display: block;
    width: 100%;
    height: 100px;
    background: #5a5ae9;
    position: fixed;
    text-transform: uppercase;
}

header ul {
    display: block;
    width: 800px;
    height: inherit;
    margin: 0px auto;
}

header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover, header .actived {
    background: black;
}


#logo a {
    transition: color 500ms; transform: 500ms;
}

#logo a:hover {
    background: transparent;
    color: black;
    transform: scale(1.50, 1.5);
}

#logo {
    font-family: "finger";
    font-size: 30px;
}

/*Content*/

#content {
    min-height: 700px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px, 0px, 80px black;
    border-left: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

footer {
    width: 75%;
    margin: 0px auto;
    padding-top: 20px;
}


#title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

#title h1 {
    font-family: "finger";
    font-size: 50px;
    border-bottom: 1px solid #ccc;
}

#title h2 {
    font-size: 30px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.about h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product {
    list-style: none;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.product .imagen {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.product img {
    width: 100%;
}